<h2>Productos</h2>  

<% @productos.each do |producto|%> <%# bucle each %>

<%= link_to producto_path(producto), class:'producto' do %> <%# para crear un link %>

  <h2><%= producto.titulo%></h2>  
  <% if producto.imagen.attached? %> <%# Verifica si hay una imagen adjunta%>
 <% # Muestra la imagen del producto con un ancho de 300px%>
  <%= image_tag producto.imagen, class: 'imagen-producto', width:300 %>
<% end %>

<%end%>

<%end%>